[Unit]
Description=Fan Control
After=remote-fs.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/sbin/fanctl

[Install]
WantedBy=multi-user.target
